.outer {
    background: var(--color-bg);
    transition: var(--theme-transition);
}

.inner {
    position: relative;
    max-width: 1400px;
    min-height: 640px;
    background-image: radial-gradient(circle, var(--color-dot) 1px, transparent 1px);
    background-size: 20px 20px;
    /*max-height: 640px;*/
    margin: 0 auto;
    border: 1px solid var(--color-text);
    /*padding: var(--spacing-md) var(--spacing-md);*/
}